@import '../variable.css';

header {
    position: fixed;
    top: 0;

    z-index: 1000;
    backdrop-filter: blur(15px);
    width: 100%;
}


.nav-section {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav-wrap{
    padding: 0 7rem;
}
.nav-logo img {
    display: block;
}

ul li {
    list-style-type: none;
}

ul {
    display: flex;
}

.nav-bar a {
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 1.25rem;
    padding: 1.25rem 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    position: relative;
    overflow: hidden;
}

.nav-bar a.active {
    background-image: linear-gradient(to right bottom, #6FBFFF, #367CFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
}



.nav-bar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0 ;
    left: 50%;
    background-image: linear-gradient(to right, #6fbefff3, #367CFF,#6fbeffe1);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.nav-bar a:hover::after,
.nav-bar a.active::after {
    width: 100%;
    left: 0;
    transform: translateX(0%);
}


.hamburger {
    display: none;
    font-size: 24px; 
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 678px) {
    
    .nav-wrap {
        padding: 0 3rem; 
    }
    .nav-bar ul {
                padding: 1rem;
        z-index: 1001; 
    }
    .nav-bar.active ul {
        display: flex;
        text-align: center;
    }
    .nav-bar.active ul li  {
        display: flex;
        text-align: center;
    }
}
@media (max-width: 400px) {
    
    .nav-wrap {
        padding: 0 1rem; 
    }
    .nav-bar ul {
        display: none; 
        flex-direction: column; 
        position: absolute;
        right: 1rem;
        left: 1rem;
        top: 1.5rem;
        background-color: white; 
        border-radius: 8px;
        padding: 2rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
        z-index: 1001; 
    }
    .nav-bar.active ul {
        display: flex;
        text-align: center;
    }
    .nav-bar.active ul li  {
        display: flex;
        text-align: center;
    }
    .hamburger{
        display: block;
    }
}



