@import 'components/navbar.css';
@import 'components/footer.css';
@import 'pages/hero.css';
@import 'pages/about.css';
@import 'pages/education.css';
@import 'pages/skill.css';
@import 'pages/project.css';
@import 'pages/experience.css';
@import 'animation.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html {
  scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    background-color: #B9DFFF;

}
*{
 /* border: 1px solid black; */
}
.layout-web{
  margin: 0 auto;
  padding: 0 4rem;
}

@media (max-width: 500px) {
  .layout-web{
    margin: 0 auto;
    padding: 0 1.25rem;
  }
}

}