.container-life {
    background-color: rgba(232, 245, 251, 0.395);
    position: relative;
    border: 1px solid white;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.edu {
    padding: 3rem 0;
}

.edu-body {
    padding:1rem 3rem;
  }
  
  .edu-list {
    list-style: none;
    padding: 0;
    position: relative; /* Needed for the timeline indicator */
  }
  
  .edu-list::before {
    content: '';
    position: absolute;
    left: 20px; /* Adjust based on your layout */
    top: 0;
    bottom: 0;
    width: 2px; /* Width of the timeline */
    background: #e2e2e2; /* Color of the timeline */
  }
  
  .edu-list li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 60px; /* Provides space for the timeline and icon */
  }
  
  .edu-list li::before {
    content: '';
    display: block;
    position: absolute;
    left: 12px; /* Center the icon on the timeline */
    top: 0;
    height: 15px; /* Height of the icon container */
    width: 15px; /* Width of the icon container */
    border-radius: 50%;
    background-color: rgb(48, 123, 230); /* Color of the timeline icon */
    border: 3px solid #0c11a5; /* Border of the timeline icon */
  }
  
  .edu-list h4 {
    margin: 0;
    color: #007BFF;
  }
  
  .edu-list span {
    font-style: italic;
    font-size: 16px; /* Example font size for dates */
  }
  
  .edu-list p {
    margin: 5px 0 0;
    color: #666;
  }