.hero {
    margin:  4rem 0;
    min-height: 100vh;
    position: relative;
    z-index: -2;
    background-image: linear-gradient(to bottom, #B9DFFF, #eaf5ff);
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;

}

.hero-div h1 {
    line-height: 3.5rem;
    text-align: center;
    font-size: var(--size-7);
    color: var(--text-color-primary);
    font-weight: 500;
}

@keyframes slideGradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

.gradient-text {
    font-weight: bold;
    background-image: linear-gradient(to right, #a4cdf8, #0f58dd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: slideGradient 3s ease-in-out infinite;
    background-size: 200% 200%;


}


.hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orbit-container {
    margin-top: 4rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orbit {
    border: 2px solid rgba(199, 218, 252, 0.502);
    border-radius: 50%;
    z-index: -1;
    margin-top: 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
}

.orbit-logo{z-index: 1;}

.bit {
    width: 32rem;
    height: 32rem;
}

.bits {
    width: 40rem;
    height: 40rem;
}

.bitss {
    width: 48rem;
    height: 48rem;
}

.bit-item {
    position: absolute;
}

.bit-item img {
    box-shadow: 0 4px 12px rgba(26, 133, 210, 0.108);
    border-radius: 12px;

}

.bit-item .icons {
    position: absolute;
}


.nx {
    right: 200px;
    top: -50px;
    rotate: -15deg;
    width: 64px;
}
.ex {
    right: 160px;
    top: 140px;
    rotate: 7deg;
    width: 64px;
}
.sb {
    right: 30px;
    top: -20px;
    rotate: -15deg;
    width: 36px;
}

.vt{
    left: 110px;
    top: -70px;
    rotate: 5deg;
    width: 36px;
}
.pg {
    right: 300px;
    top: 250px;
    rotate: -10deg;
    width: 48px;
}
.pm {
    right: 300px;
    top: 110px;
    rotate: -5deg;
    width: 40px;
}
.ts {
    left: 180px;
    top: 140px;

    rotate: 8deg;
    width: 36px;
}

.rj {
    left: 250px;
    top: 10px;
    rotate: -15deg;
    width: 64px;
}
.js {
    left: 290px;
    top: 260px;
    rotate: -8deg;
    width: 48px;
}
.tw {
    left: 350px;
    top: 160px;    
    rotate: -8deg;
    width: 40px;
}



@media (max-width: 1024px) { 
    .orbit {
        width: 24rem;
        height: 24rem;
    }

    .bits {
        width: 30rem;
        height: 30rem;
    }

    .bitss {
        width: 36rem;
        height: 36rem;
    }

    .hero-div h1 {
        line-height: 2.5rem;
        font-size: var(--size-5);
    }
}

@media (max-width: 768px) { /* For mobile devices */

  .hero{
    height:max-content;
  }
    .hero-div h1 {
        font-size: var(--size-4);
        line-height: 2rem;
    }

    .orbit {
        width: 16rem;
        height: 16rem;
        display: none;
    }

 

  
    .orbit-logo{
        width: 15rem;
        margin-top: 3rem;
    }
    
.nx {
    right: 100px;
    top: -50px;
    rotate: -15deg;
    width: 48px;
}
.ex {
    right: 120px;
    top: 140px;
    rotate: 7deg;
    width: 48px;
}
.sb {
    right: 0px;
    top: 20px;
    rotate: -15deg;
    width: 36px;
}

.vt{
    left: 110px;
    top: -30px;
    rotate: 5deg;
    width: 36px;
}
.pg {
    right: 100px;
    top: 320px;
    rotate: -10deg;
    width: 48px;
}
.pm {
    right: 0px;
    top: 300px;
    rotate: 5deg;
    width: 36px;
}
.ts {
    left: 120px;
    top: 140px;

    rotate: 8deg;
    width: 36px;
}

.rj {
    left: 120px;
    top: 50px;
    rotate: -15deg;
    width: 48px;
}
.js {
    left: 110px;
    top: 220px;
    rotate: -8deg;
    width: 36px;
}
.tw {
    left: 110px;
    top: 360px;    
    rotate: -8deg;
    width: 40px;
}
}

